.aboutdes{
    padding: 2%;
    font-size: larger;
    text-align: justify;
    
}
.Contactdet{
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}